.jumbotron {
    min-height: 88vh;
    padding: 1.25rem;
    background-color: white;
    background-image: linear-gradient(330deg, rgba(255, 193, 193, 0.3) 20%, rgba(255, 193, 193, 1) 100%),
                    linear-gradient(130deg, rgba(210, 230, 255, 0.3) 60%, rgb(166, 206, 255) 100%),
                    linear-gradient(200deg, rgba(230, 180, 0, 0) 75%, rgb(230, 188, 8, 0.8) 100%);
    border-radius: 0%;
}
.jumbotron hr {
    /* min-height: 98vh; */
    margin-top: 0px;
    border-top: 2px solid #b4b4b4;
    width: 95%;
}

.jumbotron .container {
    padding: 20px;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
}

.navbar {
    background-color: white;
    background-image: linear-gradient(to right, rgb(230, 180, 0, 0.3) 8%, rgb(255, 193, 193) 30%, rgb(166, 206, 255, 0.3) 80%);
}

.footer {
    background-color: white;
    background-image: linear-gradient(to right, rgb(230, 180, 0, 0.3) 8%, rgb(255, 193, 193) 30%, rgb(166, 206, 255, 0.3) 80%);
}

.padding {
    padding-bottom: 2rem;
}

/* Icons */

.fa,.fas,.far,.fab {
    color: #000000;
    font-size: 2rem;
    margin: 1rem;
}

.fa:hover,.fas:hover,.far:hover,.fab:hover {
    color: #b4b4b4;
    font-size: 2rem;
    margin: 1rem;
}

.fa-code {
    font-size: 1rem;
    margin: 0px;
}

.fa-code:hover {
    font-size: 1rem;
    margin: 0px;
}